@use "functions" as *;
//reponsive
$small: 480px;
$medium: 768px;
$extra-large: 1440px;
$desktop: $extra-large;
$mobile: calc($small - 1px);
$tablet: calc($medium - 1px);

$primary: #6366f1;
$secondary: #64748b;
$success: #10b981;
$warning: #f59e0b;
$danger: #ef4444;
$info: #F4ECFB;
$text-primary: #1e293b;
$text-secondary: #64748b;
$text-light: #94a3b8;
$background-lightSlateBlue: #883DCF;
$background-primary: #ffffff;
$background-secondary: #f8fafc;
$background-tertiary: #f1f5f9;
$background-light: #2BB2FE;
$border-color: #e2e8f0;
$border-light: rgba(0, 0, 0, 0.05);








