@use "../base/" as *;
@use "../abstracts/" as *;

.breadcrumb {
    ol {
        display: flex;
        gap: 0.5rem;
        list-style: none;
        padding: 0;
        color: $text-secondary;
        font-size: 0.875rem;
        align-items: flex-end;
        @include tablet {
            font-size: 0.8rem;
        }
        li {
            a {
                color: $background-lightSlateBlue;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .nav-indicator {
           position: relative;
           bottom: 0px;
        }
        .nav-indicator-2 {
            position: relative;
            top: 2px;
        }
    }
}
